@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: #0f0920;
	--background: #f3f1fb;
	--primary: #6345ca;
	--secondary: #d690df;
	--accent: #d364bd;
}

body {
	overflow-x: hidden;
}

.btn {
	transition: 0.1s ease-in-out;
	padding: 0.5rem 1rem;
	font-weight: 900;
}

.btn-p {
	&:hover {
		box-shadow: 0 0 10px var(--primary);
	}

	background: var(--primary);
	color: var(--text);
}

.btn-s {
	&:hover {
		box-shadow: 0 0 10px var(--secondary);
	}

	background: var(--secondary);
}

.btn-a {
	&:hover {
		box-shadow: 0 0 10px var(--accent);
	}

	color: #000;
	background: var(--accent);
}

.accordion {
	width: 100% !important;

	.accordion-item {
		list-style: none;
		border: 1px solid #fff;
		margin: 1rem;
		transition: 0.1s box-shadow ease-in-out;

		&:hover {
			box-shadow: 0 0 20px var(--secondary);
		}

		&:last-child {
			margin-bottom: 1rem;
		}

		.accordion-toggle {
			cursor: pointer;
			padding: 1rem;

			&:h3 {
				margin: 0;
			}
		}

		.accordion-content {
			border-top: 1px solid white;
			padding: 1em;
		}
	}
}
